{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>{{ user }}'s Assets</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Stock</th>
                <th class="text-start">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock["symbol"] }}</td>
                    <td class="text-start">{{ stock["shares"] }}</td>
                    <td class="text-end">{{ stock["price"] | usd}}</td>
                    <td class="text-end">{{ stock["value"] | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Stock Total</td>
                <td class="border-0 text-end">{{ stock_total | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash Total</td>
                <td class="border-0 text-end">{{ cash | usd}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">GRAND TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total | usd}}</td>
            </tr>
        </tfoot>

    </table>

{% endblock %}